<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @ticket.type %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @ticket.date %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
